include requirements.txt
recursive-include query_predictor *
graft docs
graft examples
prune examples/models
prune tests
global-exclude *.pyc
global-exclude *.ipynb_checkpoints
global-exclude .DS_Store
global-exclude presto-logs.csv
